@font-face {
  font-family: 'Handjet';
  src: url('/fonts/Handjet.ttf') format('truetype');
}


@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/NunitoSans.ttf') format('truetype');
}

html, body {
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



:root {
  --toxic-green: #9ef523;
  --toxic-green-dark: #9ef5238d;
  --dark-background: #000000;
  --text-color: #9ef523;
  background-color: var(--dark-background);
}